<!DOCTYPE>
<html>
<head>
<title>INTERNAL CSS</title>
<style>
h1{
	color: gold;
	text-align: center;
}
p{
	color: green;
	text-align: center;
}
</style>
</head>
<body>
<h1>Vyshnavi</h1>
<p>kkr and ksr institute of technology and sciences</p>
</body>
</html>